.container {
  padding: 1rem;
  border: #c6d0f5 1px solid;
  border-radius: 5px;
  margin: 1rem;
  width: 25%;
  text-align: center;
}

.border {
  border: #c6d0f5 1px solid;
  border-radius: 5px;
}

.container a {
  color: #c6d0f5;
}
